.stores {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.store {
  background:white;
  margin: 10px 0;
  width:30%;
  box-shadow: $shad;
  &--wide {
    width: 100%;
  }
  &__details {
    padding: 2rem;
    padding-top: 0;
    p {
      line-height: 1.2;
      margin-bottom: 0;
    }
  }
  @media all and (max-width: 850px) {
    width: 48%;
  }
  @media all and (max-width: 550px) {
    width: 100%;
  }
}

.store__actions {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 1px 0 rgba(255,255,255,0.2);
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
}

.store__action {
  font-size: 10px;
  z-index: 3;
  svg {
    width: 25px;
    fill: black
  }
  &--edit {
    a {
      border-bottom: 0;
    }
  }
  span {
    color: black
  }
}


.store__hero {
  position: relative;
  padding: 0 10px 0 10px;
  text-align: left;
  img {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    left: 0;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
}
